html {
    background-image: url(fundo.png);
    background-size: cover;
}

#local {
    position: relative;
    padding: 20px;
    margin: auto;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#titulo {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    padding: 0;
    line-height: 1;
    font-weight: bold;
    -webkit-text-stroke: 3px #61A8DF;
    text-align: center;
}

.blue {
    color: #005a9e;
}

#texto1 {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
}

#texto {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 10px;
    width: 90%;
    font-size: 20px;
    text-align: justify;
    max-width: 600px;
}

button {
    background-color: #61A8DF;
    font-size: larger;
    height: 60px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

button a {
    text-decoration: none;
    color: black;
}

#botao {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 768px) {
    #titulo {
        font-size: 40px;
        -webkit-text-stroke: 2px #61A8DF;
    }
    #button2, #button1 {
        width: 150px;
    }
}

@media (max-width: 480px) {
    #titulo {
        font-size: 30px;
    }
    #texto {
        font-size: 16px;
        width: 100%;
    }
    button {
        font-size: medium;
        height: 50px;
        width: 100%;
    }
    #botao {
        flex-direction: column;
        align-items: center;
    }
}
